
  .add {
    background-color: blue;
    color:red;
    font-size: larger;
    border-radius: 90px;
  }

  li {
    list-style: none;
  }
 
  .payInputText {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    }

    .payInputNumber {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: #eee;
      width: 70px;
      margin-left: 10px;
      }
  