
  .add {
    background-color: blue;
    color:red;
    font-size: larger;
    border-radius: 90px;
  }

  li {
    list-style: none;
  }
 
  .input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    }
